.ant-tooltip-inner {
  color: #333;
  background: #fff;
  padding: 2px 6px;
  min-height: 0px;
  box-shadow: 1px 1px 8px #aaa;
  z-index: 1000;
  border-radius: 5px;
}

.ant-tooltip-placement-bottom .ant-tooltip-arrow,
.ant-tooltip-placement-bottomLeft .ant-tooltip-arrow,
.ant-tooltip-placement-bottomRight .ant-tooltip-arrow {
  border-bottom: #fff;
}
