
.chat-panel-btn{
  border: 1px solid black;
  color: white;
  padding: 10px 10px;
  font-size: 16px;
  cursor: pointer;
  border-color: #8d8989;
  color: black;
}

.chat-message{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 15px;
  background-color: rgb(5, 5, 56);
  color: #e7e7e7;
  border-radius: 5px;
  width: 100%;
}

.chat-time{
  align-items: flex-end;
  align-self: flex-end;
  padding-top: 3px;
}

.c-message{
  align-self: flex-start;
  text-align: left;
}

.chat-user{
  align-self: flex-start;
}

.chat-container {
  width: 100%;
  display: flex;
  align-items: flex-end;
}

.message-input{
  width: 85%;
}

.send-message-btn{
  /* background-color: #4CAF50;  */
  border: none;
  color: #1890FF;
}

/* .send-message-btn:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
} */

textarea {
  border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none; /*remove the resize handle on the bottom right*/
}

.chat-container-inner {
  width: 100%;
  height: 50px;
  background-color: white;
  border: 1px solid white;
  /* border-radius: 20px; */
  padding: 5px 5px 0px 5px;

}

.chat-content{
  position: fixed;
  top: 118px;
  left: 16px;
}

.viewer-chat-content{
  position: fixed;
  top: 118px;
  left: 96.2px;
}

.message-container{
  height: 530px;
}