
.div-blinker{
  width: 20px;
  height: 20px;
  background-color: red;
  animation-name: blinkerDiv;
  animation-duration:1.5s;
  border-radius:50%;
  animation-iteration-count: infinite;
}

@keyframes blinkerDiv {
  0% {background-color:red}
  50%{background-color: rgb(56, 54, 54)}
  100% {background-color:rgb(3, 3, 3)}
}

.chat-panel-btn{
  border: 1px solid black;
  color: white;
  padding: 10px 10px;
  font-size: 16px;
  cursor: pointer;
  border-color: #8d8989;
  color: black;
}

.chat-message{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 15px;
  background-color: rgb(5, 5, 56);
  color: #e7e7e7;
  border-radius: 5px;
  width: 100%;
}

.chat-time{
  align-items: flex-end;
  align-self: flex-end;
  padding-top: 3px;
}

.c-message{
  align-self: flex-start;
  text-align: left;
}

.chat-user{
  align-self: flex-start;
}

.chat-container {
  width: 100%;
  display: flex;
  align-items: flex-end;
}

.message-input{
  width: 85%;
}

.send-message-btn{
  border: none;
  color: #1890FF;
}


textarea {
  border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none; /*remove the resize handle on the bottom right*/
}

.chat-container-inner {
  width: 100%;
  height: 50px;
  background-color: white;
  border: 1px solid white;
  /* border-radius: 20px; */
  padding: 5px 5px 0px 5px;

}

.chat-content{
  position: fixed;
  right: 0.5rem; 
  bottom: 1.5rem;
  height: 503px;
}

.user-chat-content{
  position: fixed;
  right: 2.5rem; 
  bottom: 5.5rem;
  height: 503px;
}



.message-container{
  height: 500px;
}

.viewer_chat_container{
  position: fixed;
  right: 0.5rem; 
  bottom: 0.5rem; 
}


@media only screen and (max-width: 600px) {
 .viewer_chat_container{
  position: fixed;
  right: 0.5rem; 
  bottom: 3.5rem; 
} 
.chat-content{
  position: fixed;
  right: 0.5rem; 
  bottom: 1.5rem; 
  z-index: 40;
  height: 460px;
}
.message-container{
  height: 500px;
}

.user-chat-content{
  position: fixed;
  right: 0.8rem; 
  bottom: 3.5rem;
  height: 503px;
  background: #1890FF;
}

}

