video {
  width: 100%;
  /* max-width: 680px; */
}
#remoteVideo {
  margin: 0 1rem;
}

.remote-video {
  flex: 0 0 25%;
  /* min-width: 100px; */
}

.video_player_container{
  display: flex;
  flex-direction: column;
  /* padding: 5px; */
  /* background: rgb(19, 75, 19); */
  width: 800px !important;
  height: 440px !important;
  margin-top: 10px !important;
}

.video_player_content{
  display: flex;
  flex-direction: row;
  width: 100% !important;
  height: 220px !important;
  align-items: center;
  /* background-color: aqua; */
}
.video_player_inner {
  width: 48% !important;
  margin-right: 2% !important;
  height: 100% !important;
  background:black !important;
  border: 1px solid rgb(19, 18, 18);
  /* padding: 5px; */
  box-shadow: 0 8px 8px 0 rgba(5, 7, 10, 0.2), 0 6px 20px 0 rgba(5, 7, 10, 0.19);
}


.video_player_content_merger{
  display: flex;
  flex-direction: row;
  width: 100% !important;
  height: 384px !important;
  align-items: center;
}

.video_player_inner_merger{
  width: 512px !important;
  margin-right: 2% !important;
  height: 384px !important;
  /* background: purple; */
  border: 1px solid rgb(148, 140, 140);
  padding: 5px;
  box-shadow: 0 8px 8px 0 rgba(5, 7, 10, 0.2), 0 6px 20px 0 rgba(5, 7, 10, 0.19);
  
}

.videoPlayer{
  width:384px !important;
  height: 216px !important;
  object-fit: contain;
  object-position: 50% 50%;
}

.videoPlayer_merger{
  width: 512px !important;
  height: 384px !important;
  object-fit: contain;
  object-position: 50% 50%;
}

.avatar_style{
  /* background:#1F2937 !important; */
  background:black !important;
  margin-top: 15px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user_icon_style{
  align-self: center;
  margin-top: 18%;
}