.ant-input-search .ant-input-group .ant-input-affix-wrapper:not(:last-child) {
  border-top-left-radius: 1.2rem;
  border-bottom-left-radius: 1.2rem;
}

.ant-input-search
  > .ant-input-group
  > .ant-input-group-addon:last-child
  .ant-input-search-button {
  border-top-right-radius: 1.2rem;
  border-bottom-right-radius: 1.2rem;
}

.thumbnail_button {
  font-size: 2rem;
  transition: all 0.1s;
}

.thumbnail_button:hover {
  transform: scale(1.4);
}

.thumbnail_button_container {
  top: calc(50% - 1rem);
  left: calc(50% - 1rem);
}

.ant-tooltip-arrow-content {
  background-color: #aaa;
}

.watch_later {
  visibility: hidden;
}
.video_thumbnail {
  transition: all 0.2s;
}

.video_thumbnail:hover > div > .watch_video_buttons {
  visibility: visible;
}

@media (min-width: 640px) {
  .video_thumbnail:hover > div > .watch_later {
    visibility: visible;
  }
  .video_thumbnail:hover > div > .video_gif {
    display: block;
  }

  .video_thumbnail:hover > div > .video_image {
    display: none;
  }
}

.video_thumbnail:hover > div > .video_title {
  color: #222;
}
.ant-modal-content,
.ant-modal-body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ant-modal-body {
  padding-bottom: 0px;
}

.ant-radio-wrapper > span:last-child {
  display: flex;
  align-items: center;
}

.pay_button:hover {
  transition: all 0.2s;
  color: #ddd;
}

.pay_button:active {
  transition: all 0.2s;
  color: #fff;
}

.header_title {
  font-family: 'Pacifico', cursive;
}

.video_image {
  min-height: 0rem !important;
}

.ant-message-custom-content {
  display: flex;
  align-items: center;
}

.comment_input:focus {
  border: 1px solid #aaa;
  outline: none;
}

.comment_input {
  border: 1px solid #fff;
}
