.ant-input-search .ant-input-group .ant-input-affix-wrapper:not(:last-child) {
  border-top-left-radius: 1.2rem;
  border-bottom-left-radius: 1.2rem;
}

.ant-input-search
  > .ant-input-group
  > .ant-input-group-addon:last-child
  .ant-input-search-button {
  border-top-right-radius: 1.2rem;
  border-bottom-right-radius: 1.2rem;
}

.thumbnail_button {
  font-size: 2rem;
  transition: all 0.1s;
}

.thumbnail_button:hover {
  transform: scale(1.4);
}

.thumbnail_button_container {
  top: calc(50% - 1rem);
  left: calc(50% - 1rem);
}

.ant-tooltip-arrow-content {
  background-color: #aaa;
}

.watch_later {
  visibility: hidden;
}
.video_thumbnail {
  transition: all 0.2s;
}

.video_thumbnail:hover > div > .watch_later,
.video_thumbnail:hover > div > .watch_video_buttons {
  visibility: visible;
}

.video_thumbnail:hover > div > .video_title {
  color: #222;
}

.ant-modal-content,
.ant-modal-body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ant-modal-body {
  padding-bottom: 0px;
}

.ant-radio-wrapper > span:last-child {
  display: flex;
  align-items: center;
}

.pay_button:hover {
  transition: all 0.2s;
  color: #ddd;
}

.pay_button:active {
  transition: all 0.2s;
  color: #fff;
}

.header_title {
  font-family: 'Pacifico', cursive;
}

.player_container {
  width: 100%;
}

.videos_container {
  height: fit-content;
}

@media (min-width: 1024px) {
  .player_container {
    width: 65%;
  }

  .videos_container {
    width: 32%;
  }
}

@media only screen and (min-width: 200px) and (max-width: 300px) {
  .player_details {
    margin-top: 105px !important;
  }
}


@media only screen and (min-width: 301px) and (max-width: 400px) {
  .player_details {
    margin-top: 160px !important;
  }
}

@media only screen and (min-width: 401px) and (max-width: 490px) {
  .player_details {
    margin-top: 180px !important;
  }
}
@media only screen and (min-width: 500px) and (max-width: 590px) {
  .player_details {
    margin-top: 250px !important;
  }
}

@media only screen and (min-width: 600px) and (max-width: 760px) {
  .player_details {
    margin-top: 170px !important;
  }
}


@media only screen and (min-width: 768px) and (max-width: 999px) {
  .player_details {
    margin-top: 27px !important;
  }
}

