.ant-input-search .ant-input-group .ant-input-affix-wrapper:not(:last-child) {
  border-top-left-radius: 1.2rem;
  border-bottom-left-radius: 1.2rem;
}

.ant-input-search > .ant-input-group > .ant-input-group-addon:last-child .ant-input-search-button {
  border-top-right-radius: 1.2rem;
  border-bottom-right-radius: 1.2rem;
}

.thumbnail_button {
  font-size: 2rem;
  transition: all 0.1s;
}

.thumbnail_button:hover {
  transform: scale(1.4);
}

.thumbnail_button_container {
  top: calc(50% - 1rem);
  left: calc(50% - 1rem);
}

/* .ant-tooltip-inner {
  color: #333;
  background: #fff;
  padding: 2px 6px;
  min-height: 0px;
  box-shadow: 1px 1px 8px #aaa;
  z-index: 1000;
  border-radius: 5px;
}

.ant-tooltip-placement-bottom .ant-tooltip-arrow,
.ant-tooltip-placement-bottomLeft .ant-tooltip-arrow,
.ant-tooltip-placement-bottomRight .ant-tooltip-arrow {
  border-bottom: #fff;
}
*/
.ant-tooltip-arrow-content {
  background-color: #aaa;
}

.watch_later {
  visibility: hidden;
}
.video_thumbnail {
  transition: all 0.2s;
}

.video_thumbnail:hover > .watch_later,
.video_thumbnail:hover > .watch_video_buttons {
  visibility: visible;
}

.video_thumbnail:active {
  transform: scale(1.01);
}

.ant-modal-content,
.ant-modal-body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ant-modal-body {
  padding-bottom: 0px;
}

.ant-radio-wrapper > span:last-child {
  display: flex;
  align-items: center;
}

.pay_button:active {
  transition: all 0.2s;
  font-size: 0.8rem;
}
