@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Water+Brush&display=swap');


.sender_player_style {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px; /* 30% of 1080 */
  height:480px; /* 30% of 1920 */;
}

#canvas {
  background-color: aqua;
}

.sender_player_container {
  position: relative;
  width: 324px; /* 30% of 1080 */
  height: 576px; /* 30% of 1920 */
}

.overlay_text_style {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: 800;
  z-index: 50;
  
  text-align: center;
}

.animate-charcter {
 
  background-image: linear-gradient(
    -225deg,
    #3361b6 0%,
    #d9c6e0 29%,
    #c6cadd 67%,
    #0e5dc4 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 50% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 30px;
  font-weight: 800;
  font-family: 'Permanent Marker', cursive;
  text-align: center;
}

@keyframes textclip {
  to {
    background-position: 100% center;
  }
}
